* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

main {
    position: relative;
    height: 100vh;
    background: url(imagens/fundo-madeira.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 623px;

    background: url(imagens/frame-iphone.png) no-repeat ; 
}

#tela {
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;
}

.social img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 7px black;
}

.social img:hover {
    border: 1px solid white;
   
}